<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260843333313-mv4hqhkdjansu1d6g55s26ts1ckd3m4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260843333313-mv4hqhkdjansu1d6g55s26ts1ckd3m4n</string>
	<key>API_KEY</key>
	<string>AIzaSyA-gp5cvpTnbc_su6WWEHAM6PHOaKnoZ1E</string>
	<key>GCM_SENDER_ID</key>
	<string>260843333313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BetaBrowser.gocod.girl.boy</string>
	<key>PROJECT_ID</key>
	<string>beat-browser-c7bc5</string>
	<key>STORAGE_BUCKET</key>
	<string>beat-browser-c7bc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:260843333313:ios:8c6e5d0449b1204ed51640</string>
</dict>
</plist>
